{% assign target = product %}

<div class="field">
  <textarea type="text" value="{{ target.title }}" class="text-area field__input" id="product-personalized"></textarea>
  <label class="field__label" for="product-personalized">Product Personalized</label>
</div>
